{%- if block.settings.menu_left != blank -%}
  <div class="left_side__menu">
    {% for link in block.settings.menu_left.links %}
      <div class="left_menu_wrapper">
        <a class="left_menu_link" href="{{ link.url }}">{{ link.title }}</a>
        <div class="left_submenu_wrapper">
          {% for sublink in link.links %}
            <a class="left_menu_sublink" href="{{ sublink.url }}">{{ sublink.title }}</a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Side Menu",
  "tag": null,
  "settings": [
    {
      "type": "link_list",
      "id": "menu_left",
      "label": "Left Side Menu"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Side Menu"
    }
  ]
}
{% endschema %}
