<ul class="menu_logo_list">
  {% for entry in block.settings.metaobject %}
    <li class="menu_logo_item">
      <a href="{{ entry.link }}" class="logo_img_link">
        {{ entry.logo | image_url: width: '260', height: '100' | image_tag: class: 'menu_link_logo_img' }}
      </a>
    </li>
  {% endfor %}
</ul>
{% schema %}
{
  "name": "Visual Menu",
  "tag": null,
  "settings": [
    {
      "type": "metaobject_list",
      "id": "metaobject",
      "label": "Select Metaobject",
      "metaobject_type": "photo_fine_art_menu"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Visual Links"
    }
  ]
}
{% endschema %}
